<div class="container">
  <!-- <app-header
    [productosRecibidosDeApp]="productosRecibidosDelHijo"
  ></app-header>
  <app-title></app-title>
  <app-productos
    (emisorDeProductosElegidos)="recibirProductosDelHijo($event)"
    [productosQueRecibeElHijo]="productosQueEnviaElPadre"
  ></app-productos> -->
  <!-- este es el mediador que pasa los productos de uno a otro. el primer producto es lo que recibe el hijo del padre y el segundo es lo que envía el padre -->
  <app-padre></app-padre>
</div>
